# for C/C++
build
build_doc
.idea
*.iml
.sln
*.swp
.DS_Store
.gradle
.tmp
*.tmp
.vscode
.vs
cmake-build-debug
cmake-build-release
cmake-build-*

# for python
*.py[cod]
*.egg
*.egg-info
dist

# for Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# models
